PORT=3000
NODE_ENV=development
ADMIN_SERVICE_URL=http://localhost:3001
MEDICO_SERVICE_URL=http://localhost:3002


*PORT=3000
ADMIN_SERVICE_URL=http://192.168.10.216:3001
# MEDICO_SERVICE_URL=  (por ahora vacío)
JWT_SECRET=your-super-secret-jwt-key-here
JWT_EXPIRES_IN=24h