# Configuración del Medico Service
NODE_ENV=development
PORT=3000

# Configuración de base de datos MySQL
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DB=hospitalservice
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_SSL=false
DB_SSL_CA_PATH=/certs/mysql-ca.pem

# Configuración JWT
JWT_SECRET=secretKey123

